{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div>
    <h1>Manage your stock portfolio the smart way!</h1>
</div>
<div>
    Buy & sell stocks with real-time updates of current stock prices.
</div>
    <script>
        function validatePasswords() {
            const password = document.getElementById('password').value;
            const confirmation = document.getElementById('password').value;

            if (password !== confirmation) {
                alert('Passwords do not match!');
                return false;
            }
            return true;
        }
    </script>
    <form action="/register" method="post" onsubmit="return validatePasswords()">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register to get started</button>
    </form>
{% endblock %}
